/* Chrome, Safari, Edge, Opera */
*,
*::before,
*::after {
  /* reset the box sizing  */
  box-sizing: border-box;
}

* {
  /* getting rid of all the margins and paddings */
  margin: 0;
  padding: 0;

  /* set font: inherit on everything  */
  /* this will take away all the font-sizes and font-wights  */
  /* which sort of reinforces having to style things through css instead of using heading levels and elements to do it  */
  /* font: inherit; */
}

/* make sure that the img, picture, svg, video are responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  /* make form-elements inherit the font-properties */
  /* there is no need to use this ..  
    if you are going to use the:  
        * {
            margin: 0;
            padding: 0;
            font: inherit;
        }
    */

  font: inherit;
}

body {
  /* set a min-height on the body  */
  min-height: 100vh;
  background-color: white;
  color: black;
}

html {
  /* this will set a default dark mode on your site */
  /* so it will follow the user preference, because it sets  */
  /* all the user agent styles for everything including form-elements */
  /* to a dark-more right off the bat*/
  color-scheme: dark light;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  cursor: pointer;
}
input[type="number"] {
  display: none;
  padding: 20px;
  padding-right: 40px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: 1px solid #d8e2e7;
  font-weight: bold;
  color: black;
}
input[type="number"].active {
  display: inline;
}
label,
div {
  font-family: "Inter", sans-serif;
}
body {
  margin-top: 32px;
  margin-bottom: 96px;
}
.wrapper {
  margin-inline: 24px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--gunmetal, #253347);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
}
h2 {
  color: var(--gunmetal, #253347);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -1.6px;
}
h3 {
  color: var(--gunmetal, #253347);
  /* Heading M */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}
h4 {
  color: var(--gunmetal, #253347);
  /* Heading S */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}
p {
  color: var(--dark-electric-blue, #5e6e85);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero .description {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero .description p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.calculator {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.measure-type {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding-inline: 16px;
}
.measure-type label {
  display: block;
  position: relative;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.measure-type .metric,
.measure-type .imperial {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.metric input,
.imperial input {
  left: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 31px;
  height: 31px;
}
.metric .checkmark,
.imperial .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  border: 1px solid #d8e2e7;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.metric:hover input ~ .checkmark,
.imperial:hover input ~ .checkmark {
  background-color: hsla(227, 92%, 58%, 0.15);
}

/* When the radio button is checked, add a blue background */
.metric input:checked ~ .checkmark,
.imperial input:checked ~ .checkmark {
  background-color: hsla(227, 92%, 58%, 0.15);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.metric input:checked ~ .checkmark:after,
.imperial input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.metric .checkmark:after,
.imperial .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #345ff6;
}
.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.cm,
.kg,
.ft,
.in,
.st,
.lbs {
  position: relative;
}
.cm .cm-value,
.kg .kg-value {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  color: #345ff6;
}
.ft .ft-value,
.in .in-value,
.st .st-value,
.lbs .lbs-value {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  color: #345ff6;
}
.your-result {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 72px;
}
.your-result-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.BMI-value {
  border-radius: 16px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.BMI-range {
  color: white;
  font-size: 14px;
  font-family: Inter;
  line-height: 150%;
}
.BMI-score {
  color: white;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
  margin-bottom: 16px;
}
.BMI-placeholder {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.tips-section {
  margin-block: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}
.tips-section-mask {
  opacity: 1;
  background: var(
    --gradient-1,
    linear-gradient(315deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%)
  );
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-inline: 24px;
}
.tip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.tip-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.bmi-limitations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
}
.bmi-limitations-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  text-align: center;
  gap: 56px;
}

.limitations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.limitation {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--pure-white, #fff);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.limitation-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.limitation-inner-flex {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
